<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<h2>会員一覧<span class="sub_title">　　　<%= paginate @customers %></span></h2>
		<div id="customer_index">
			<%= render partial: 'public/customers/index', locals: { customers: @customers } %>
		</div>
	</div>
</div>