<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<h2>ポジティブ順<span class="sub_title">　　　<%= paginate @customers %></span>
			<%= link_to '会員一覧', customers_path, class: "btn btn-default nav-btn" %>
		</h2>
		<% if shop_signed_in? %>
			<div class="row">
				<%= render partial: 'public/customers/shop_index', locals: { customers: @customers } %>
			</div>
		<% else %>
			<div id="customer_index">
				<%= render partial: 'public/customers/index', locals: { customers: @customers } %>
			</div>
		<% end %>
	</div>
</div>