<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<table>
			<thead>
				<tr>
					<th>検索画像</th>
					<th>検索カテゴリー</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td></td>
					<td></td>
					<td>検索</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>