<div class="row" id="customer_show">
	<%= render partial: 'public/customers/show', locals: { customer: @customer } %>
</div>
<div class="row">
	<div class="col-md-9 col-md-offset-2">
		<h2>行ったお店</h2>
	</div>
	<div class="col-md-8 col-md-offset-2">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>店舗名</th>
					<th>メニュー名</th>
					<th>コメント</th>
				</tr>
			</thead>
			<tbody>
				<% @reservation_history.each do |reservation_history| %>
				<% if reservation_history.reserve.customer == @customer %>
					<tr>
						<td><%= reservation_history.menu.shop.name %></td>
						<td><%= reservation_history.menu.name %></td>
						<td>
							<% reservation_history.history_comment.each do |history_comment| %>
								<span style="white-space: pre-wrap;"><%= history_comment.body %></span>
							<% end %>
						</td>
					</tr>
				<% end %>
				<% end %>
			</tbody>
		</table>
	</div>
</div>