<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<h2>最近の投稿一覧<span class="sub_title">　　　　<%= paginate @posts %></span></h2>
		<% @posts.each do |post| %>
			<div class="col-md-4">
				<%= link_to shop_post_path(post.shop, post) do %>
					<%= attachment_image_tag post, :post_image, format: "jpeg", fallback: "no-image.png", class: "post_image" %>
				<% end %>
			</div>
		<% end %>
	</div>
</div>
