<div class="row">
	<div class="col-xs-10 col-xs-offset-1">
		<h2>予約履歴一覧</h2>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>予約日</th>
					<th>店舗名</th>
					<th>メニュー名</th>
					<th>メニュー金額</th>
					<th>コメント</th>
					<th>感情分析</th>
				</tr>
			</thead>
			<tbody>
					<%= render partial: 'public/reservation_histories/comment',locals: { history_comment: @history_comment, reservation_histories: @reservation_histories } %>
			</tbody>
		</table>
	</div>
</div>