<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<h2>コンタクト一覧</h2>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>コンタクト相手</th>
					<th>種別</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<% @talks.each do |talk| %>
					<% if talk.shop.present? %>
						<tr>
							<td><%= talk.shop.name %></td>
							<td>サロン</td>
							<td><%= link_to 'chatを始める', talk_path(talk.shop.id), class: "btn btn-default"%></td>
						</tr>
					<% else %>
						<% if talk.customer != current_customer %>
							<tr>
								<td><%= talk.customer.full_name %>さん</td>
								<td>ユーザー</td>
								<td><%= link_to 'chatを始める', talk_path(talk.customer.id), class: "btn btn-default"%></td>
							</tr>
						<% end %>
					<% end %>
				<% end %>
			</tbody>
		</table>
	</div>
</div>