<div id="skippr">
	<div id="theTarget">
		<div class="bg-1"></div>
		<div class="bg-2"></div>
		<div class="bg-3"></div>
		<div class="bg-4"></div>
	</div>
</div>
<div class="row about-row">
	<div class="col-md-12 text-center">
		<span class="logo">Nailsiteの特徴と使い方</span><br><nr>
		<span class="sub_title">納得感のあるお店選びをしたい人のためのネイルサイト</span><br><br>
		<span>
			Nailsiteは「納得感のあるお店選び」をコンセプトにした、今までにないネイルサイトです。<br>
			ネットでお店探しをする際に起こりがちな「探し疲れ」というような経験をなくすため<br>
			ユーザーの体験談をもとにサロンからもアプローチができます。
		</span>
	</div>
</div>
<div class="logo about_box about-row">
	ーNailsiteの特徴ー
</div>
<div class="row about-row">
	<div class="col-md-6 text-center">
		<span class="genre_box">サロンからの連絡</span><br><br>
		<span>特別サービスを受けられる！？</span><br><br>
		<span>
			あなたがこのサイトを通じて予約したサロンやコメントから、<br>
			右図のようにサロンから特別オファーが来ることも！<br>
			いい評価だけではなく、ありのままの感想を伝えることであなたの信用もUP♪<br><br>
			またサロンだけではなく、ユーザー同士でも繋がれるので、<br>
			サロンの情報をより詳しく知ることができます！
		</span>
	</div>
	<div class="col-md-6">
		<div class="demo1"></div>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<div class="demo2"></div>
	</div>
	<div class="col-md-6 text-center about-row">
		<span class="genre_box">ネイル関連だけの写真BOX</span><br><br>
		<span>お気に入りのデザインが見つかる♪</span><br><br>
		<span>
			最近のSNSで関連したデザインしか出ず、<br>
			新しいデザインの発見体験が少なくなっていませんか？<br>
			このNailsiteでは、新しいデザインの発見だけでなく、<br>
			いいね順に絞り込むことで、<br>
			流行りのデザインも見つけることができます！<br>
		</span>
	</div>
</div>
<div class="logo about_box about-row">
	ーNailsiteの使い方ー
</div>
<div class="row about-row">
	<div class="col-md-6 text-center">
		<span class="genre_box">サロンからの連絡</span><br><br>
		<span>特別サービスを受けられる！？</span><br><br>
		<span>
			あなたがこのサイトを通じて予約したサロンやコメントから、<br>
			右図のようにサロンから特別オファーが来ることも！<br>
			いい評価だけではなく、ありのままの感想を伝えることであなたの信用もUP♪<br><br>
			またサロンだけではなく、ユーザー同士でも繋がれるので、<br>
			サロンの情報をより詳しく知ることができます！
		</span>
	</div>
	<div class="col-md-6">
		<div class="demo3"></div>
	</div>
</div>
<div class="row about-row">
	<div class="col-md-6">
		<div class="demo4"></div>
	</div>
	<div class="col-md-6 text-center about-row">
		<span class="genre_box">ネイル関連だけの写真BOX</span><br><br>
		<span>お気に入りのデザインが見つかる♪</span><br><br>
		<span>
			最近のSNSで関連したデザインしか出ず、<br>
			新しいデザインの発見体験が少なくなっていませんか？<br>
			このNailsiteでは、新しいデザインの発見だけでなく、<br>
			いいね順に絞り込むことで、<br>
			流行りのデザインも見つけることができます！<br>
		</span>
	</div>
</div>
<div class="row about-row">
	<div class="col-md-12 text-center top_link">
		<h1><span class="top_link_main">　納得のいくお店選び体験を。</span></h1>
		<%= link_to 'トップページへ', root_path, class: "btn btn-default nav-btn btn-lg" %>
	</div>
</div>