/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require fullcalendar
 */
@import "bootstrap-sprockets";
@import "bootstrap";

.logo{
  font-family: cursive;
  font-size: 60px;
  color: #666666;
  text-decoration: none !important;
}
.root_logo{
  font-family: cursive;
  font-size: 60px;
  color: #EEEEEE;
  text-decoration: none !important;
}

.reserve_form{
  display: none;
}

.main-header {
	height: 80px;
	background-color: #FFBEDA;
}
.top-header {
	height: 200px;
	background-image: image-url("background.jpg");
	background-size: cover;
  background-position: center;
}

.shop-header {
	height: 80px;
	background-color: #CCCCCC;
}
.customer-header {
	height: 80px;
	background-color: #C299FF;
}
.nav-btn {
	color: #888888;
	font-size: 12px;
	font-weight: bold;
	display: inline-block;
	margin: 15px 10px 10px 10px;
	text-decoration: none;
	border-radius : 8px;
	background: #ffffff;
}
.main-visual-content{
  width: 30%;
  height: 200px;
  text-align: center;
  background-color: rgba( 0, 0, 0, 0.5);
}
.main-visual-text {
  color: #fff;
}


footer {
  padding: 15px 0;
  font-size: 14px;
  text-align: center;
}


.devise_btn{
  margin-top: 20px;
  margin-bottom: 20px;
}
.devise_input-size{
  width: 430px;
}


textarea {
  resize: none;
  width: 100%;
  height: 100%;
}
.row-2 {
  height: calc( 1.3em * 2 );
  line-height: 1.3;
}
.row-4 {
  height: calc( 1.3em * 4 );
  line-height: 1.3;
}
.row-5 {
  height: calc( 1.3em * 5 );
  line-height: 1.3;
}



.preview_image {
  width: 250px;
  height: 150px;
  object-fit: cover;
}
.top_profile_image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}
.profile_image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}
.shop_show_top_image{
  width: 400px;
  height: 300px;
  object-fit: cover;
}
.shop_menu_image{
  width: 120px;
  height: 100px;
  object-fit: cover;
}
.shop_show_post_image{
  width: 180px;
  height: 150px;
  object-fit: cover;
}


.post_image{
  width: 250px;
  height: 200px;
  object-fit: cover;
}
.post_index_image{
  width: 120px;
  height: 100px;
  object-fit: cover;
}
.map_shop_image{
  width: 110px;
  height: 90px;
  object-fit: cover;
}
.genre-image1{
  background-image: image-url("one_color.jpg");
  background-size: cover;
  background-position: center;
  width: 160px;
  height: 130px;
  margin-left: 40px;
}
.genre-image2{
  background-image: image-url("simple.jpg");
  background-size: cover;
  background-position: center;
  width: 160px;
  height: 130px;
}
.genre-image3{
  background-image: image-url("art.jpg");
  background-size: cover;
  background-position: center;
  width: 160px;
  height: 130px;
}
.genre-image4{
  background-image: image-url("bridal.jpg");
  background-size: cover;
  background-position: center;
  width: 160px;
  height: 130px;
}



.genre_box {
    padding: 0.5em 1em;
    margin: 2em 0;
    border: solid 2px black;
    border-radius: 10px;
}
.table_item_color{
  background-color: #eeeeee;
}
.sub_title{
  font-size: 15px;
}
.menu_name{
  font-size: 17px;
  font-weight: bold;
}


.search_form{
  width: 350px;
  height: 50px;
}
.search_box{
  margin-top: 30px;
}
.search_btn{
  height: 50px;
}
.shop_index_search_form{
  font-size: 15px;
  width: 250px;
  height: 50px;
}

.scroll{
  overflow: scroll;
  height: 500px;
  width: 400;
}






