/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

.main-header {
	height: 80px;
	background-color: #FFBEDA;
}

.top-header {
	height: 200px;
	background-image: url("background.jpg");
	background-size: cover;
  	background-position: center;
}

.shop-header {
	height: 80px;
	background-color: #CCCCCC;
}
.customer-header {
	height: 80px;
	background-color: #C299FF;
}

.nav-btn {
	color: #888888;
	font-size: 12px;
	font-weight: bold;
  	display: inline-block;
  	margin: 15px 10px 10px 10px;
  	text-decoration: none;
  	border-radius : 8px;
  	background: #ffffff;
}

.image_field {
  width: 250px;
  text-align: center;
  p {
    margin-top: 10px;
    text-align: left;
  }
}

.preview_image {
  width: 250px;
  height: 150px;

  object-fit: cover;
}

footer {
  padding: 15px 0;
  font-size: 14px;
  text-align: center;
}

textarea {
  resize: none;
  width: 100%;
  height: 100%;
}
.row-2 {
  height: calc( 1.3em * 2 );
  line-height: 1.3;
}

.row-5 {
  height: calc( 1.3em * 5 );
  line-height: 1.3;
}






